a {
    margin: 15px;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 20px;
}