<p>add-npc: </p>
<form class="container">

    <mat-form-field class="input__container__field">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex: Grim Njord" name="npcNome"  [(ngModel)]="npcCriado.nome">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Idade</mat-label>
      <input matInput placeholder="Ex: 29" type="number" name="npcIdade" [(ngModel)]="npcCriado.idade">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Raça</mat-label>
      <input matInput placeholder="Ex: Goliath" name="npcIdade" [(ngModel)]="npcCriado.raca">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Profissao</mat-label>
      <input matInput placeholder="Ex: Ferreiro" name="npcProfissao" [(ngModel)]="npcCriado.profissao">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Alinhamento</mat-label>
      <input matInput placeholder="Ex: Leal e bom" name="npcAlinhamento" [(ngModel)]="npcCriado.alinhamento">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Atributo Alto</mat-label>
      <input matInput placeholder="Ex: Destreza" name="npcAtributoAlto" [(ngModel)]="npcCriado.atributoAlto">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Atributo Baixo</mat-label>
      <input matInput placeholder="Ex: Carisma" name="npcAtributoBaixo" [(ngModel)]="npcCriado.atributoBaixo">
    </mat-form-field>
    <mat-form-field class="input__container__field">
      <mat-label>Estilo de Combate</mat-label>
      <input matInput placeholder="Ex: Mestre de Espada" name="npcEstiloCombat" [(ngModel)]="npcCriado.estiloCombate">
    </mat-form-field>

 
</form>

<button (click)="criarNpc()" mat-raised-button color="primary">Enviar</button>
