<p>add-npc: </p>

<div class="container">
  <mat-form-field class="input__container__field">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Ex: Grim Njord" name="npcNome" [(ngModel)]="npcCriado.nome">
  </mat-form-field>
  <mat-form-field class="input__container__field">
    <mat-label>Raça</mat-label>
    <input matInput placeholder="Ex: Goliath" name="npcRaca" [(ngModel)]="npcCriado.raca">
  </mat-form-field>
</div>


<button (click)="criarNpc()" mat-raised-button color="primary">Enviar</button>